In [14]:
import pandas as pd

In [24]:
import os
ROOT_DIR = '/Users/filippopellizzari/code/ticket-routing/'
os.chdir(ROOT_DIR)

In [51]:
df = pd.read_parquet("data/complaints.parquet")

In [52]:
df.columns = df.columns.str.removeprefix('_').str.removeprefix('source.')

In [53]:
not_useful=['index','type','id','score','company','company_public_response']

In [60]:
df.state.value_counts()

state
CA                                      14009
NY                                       8780
FL                                       6848
TX                                       5864
IL                                       4129
                                        ...
UNITED STATES MINOR OUTLYING ISLANDS        3
MH                                          3
AA                                          3
AS                                          1
PW                                          1
Name: count, Length: 62, dtype: int64

In [73]:
df.dtypes

index                         object
type                          object
id                            object
score                        float64
tags                          object
zip_code                      object
complaint_id                  object
issue                         object
date_received                 object
state                         object
consumer_disputed             object
product                       object
company_response              object
company                       object
submitted_via                 object
date_sent_to_company          object
company_public_response       object
sub_product                   object
timely                        object
complaint_what_happened       object
sub_issue                     object
consumer_consent_provided     object
dtype: object

In [61]:
df.columns

Index(['index', 'type', 'id', 'score', 'tags', 'zip_code', 'complaint_id',
       'issue', 'date_received', 'state', 'consumer_disputed', 'product',
       'company_response', 'company', 'submitted_via', 'date_sent_to_company',
       'company_public_response', 'sub_product', 'timely',
       'complaint_what_happened', 'sub_issue', 'consumer_consent_provided'],
      dtype='object')

In [89]:
df['complaint_what_happened'].loc[1]

'Good morning my name is XXXX XXXX and I appreciate it if you could help me put a stop to Chase Bank cardmember services. \nIn 2018 I wrote to Chase asking for debt verification and what they sent me a statement which is not acceptable. I am asking the bank to validate the debt. Instead I been receiving mail every month from them attempting to collect a debt. \nI have a right to know this information as a consumer. \n\nChase account # XXXX XXXX XXXX XXXX Thanks in advance for your help.'

In [90]:
df['issue'].loc[1]

'Written notification about debt'

In [91]:
df['sub_issue'].loc[1]

"Didn't receive enough information to verify debt"

In [94]:
df['consumer_consent_provided'].value_counts()

consumer_consent_provided
N/A                     42847
Consent provided        21077
Consent not provided    12285
Other                     991
Consent withdrawn         105
Name: count, dtype: int64

In [72]:
df[df['date_received']!=df['date_sent_to_company']][['date_received','date_sent_to_company']]

                   date_received       date_sent_to_company
3      2017-09-13T12:00:00-05:00  2017-09-14T12:00:00-05:00
5      2019-06-13T12:00:00-05:00  2019-06-14T12:00:00-05:00
7      2019-05-15T12:00:00-05:00  2019-05-21T12:00:00-05:00
8      2019-08-22T12:00:00-05:00  2019-08-23T12:00:00-05:00
9      2019-06-11T12:00:00-05:00  2019-06-17T12:00:00-05:00
...                          ...                        ...
78298  2019-01-30T12:00:00-05:00  2019-01-31T12:00:00-05:00
78305  2018-12-17T12:00:00-05:00  2018-12-18T12:00:00-05:00
78306  2018-12-12T12:00:00-05:00  2018-12-18T12:00:00-05:00
78308  2018-12-20T12:00:00-05:00  2018-12-21T12:00:00-05:00
78312  2016-07-06T12:00:00-05:00  2016-07-07T12:00:00-05:00

[33565 rows x 2 columns]

In [80]:
(pd.to_datetime(df['date_received'])-pd.to_datetime(df['date_sent_to_company'])).dt.days.value_counts()

 0      44748
-1      10305
-2       5078
-3       4108
-4       3564
        ...
-149        1
-173        1
-186        1
-511        1
-204        1
Name: count, Length: 161, dtype: int64

In [75]:
df['sub_product'].value_counts()

sub_product
Checking account                              17182
General-purpose credit card or charge card    10504
Other mortgage                                 8447
Conventional fixed mortgage                    4892
Credit reporting                               4172
                                              ...
Gift or merchant card                             4
Government benefit payment card                   4
ID prepaid card                                   2
Medical debt                                      2
Electronic Benefit Transfer / EBT card            1
Name: count, Length: 72, dtype: int64

In [59]:
df['date_received'].max()

'2021-05-10T12:00:00-05:00'

In [34]:
df.shape

(78313, 22)